body {
	background-image : url('../img/background.jpg');
	background-size: 100% 100%;
color : white;
}

.ready-one, .ready-two, .this-one, .this-two, .gaming, .gaining, .message-info, .drop-card, .player-info {
    position: absolute;
	z-index: 99;
}

.player-info {
    bottom: 0;
}

.gaming {
    bottom: 100px;
	right : 100px;
}

.gaming div {
    border : 2px #000 solid;
	border-radius : 50%;
    height: 50px;
    width: 50px;
}
