body {
    background-image : url('../img/back-main.jpg');
    width : 1600px;
	height : 900px;
}

.jaipur-content {
	height : 900px;
	color : white;
	background-image : url('../img/background.jpg');
	background-size: 100% 100%;
}

.player-info {
    float: right;
	width : 320px;
	background-color : white;
}

.ready-one, .ready-two, .this-one, .this-two, .gaming, .gaining, .message-info {
    position: absolute;
	z-index: 99;
}

.gaming {
    left: 700px;
	top: 550px;
}

.message-info {
    position : absolute;
	left : 700px;
	top : 550px;
}

.choose-one, .choose-two, .choose-three, .drop-card {
    border : 2px #000 solid;
	border-radius : 50%;
	width: 60px;
    height: 60px;
	text-align: center;
	line-height: 60px;
}

.choose-one {
    position: absolute;
    left: -100px;
}

.choose-two {
    position: absolute;
	left: -20px;
}

.choose-three {
    position: absolute;
	left: 60px;
}

.drop-card {
    position: absolute;
	left: -50px;
	top: -50px;
}

.card-left, .camel-number {
    position: absolute;
	font-weight: bold;
}

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
    height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.toast .modal-content {
	background-color: #000;
	border: 0;
	margin: 0 auto;
	color: white;
	text-align: center;
	padding : 20px;
}
