<div class="col-sm-12 col-xs-12"><button class="button col-sm-1 col-xs-1" ng-click="createRoom()">创建房间</button><button class="button col-sm-1 col-xs-1" ng-click="quickJoin()">快速加入</button></div>
<div class="col-sm-12 col-xs-12 pagesection">
   <h2>房间列表</h2>
   <div class="portlet">
      <div ng-repeat="room in rooms" ng-click="goToRoom(room)">
         <div ng-bind="room.id"></div>
         <div ng-repeat="p in room.players">
            <div ng-bind="p.name"></div>
         </div>
      </div>
   </div>
</div>